* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* --------------------------
--------------header start----------------- */

header {
    background: url(../Background-image/BG\ 1\ \(1\).png), radial-gradient(50% 50% at 50% 50%, #383B6C 0%, #202247 100%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 1920px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.need-help {
    display: flex;
    align-items: center;
    gap: 25px;
}

.need-help-title {
    padding-left: 201px;
    padding-top: 7px;
    color: #F4FAFF;
    font-size: 16px;
    font-weight: 500;
}

.mail {
    display: flex;
    align-items: center;
    gap: 5px;
}

.mail img {
    padding-top: 10px;
}

.mail-id {
    padding-top: 7px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}

.partner-login {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 201px;
}

.partner-login img {
    padding-top: 9px;
}

.login {
    padding-top: 7px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}


/* 1st part end */


.navbar {
    margin-top: 8px;
    width: 1920px;
    height: 93px;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-img {
    margin-top: 76px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar-logo {
    padding-left: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.l-m2 {
    padding-left: 6.31px;
}

.l-m3 {
    padding-left: 3.28px;
}

.l-m4 {
    padding-left: 3.01px;
}

.l-m5 {
    padding-left: 3.97px;
}

.l-m6 {
    padding-left: 2.04px;
}

.l-m7 {
    padding-left: 4.18px;
}

.l-m8 {
    padding-left: 6.14px;
}

.l-m9 {
    padding-left: 4.55px;
}

.l-m10 {
    padding-left: 5.5px;
}

.l-m11 {
    padding-left: 2.66px;
}

.l-m12 {
    padding-left: 1.27px;
}

.l-m13 {
    padding-left: 1.23px;
}

.l-m14 {
    padding-left: 4.9px;
}

.l-m15 {
    padding-left: 1.9px;
}

.l-m16 {
    padding-left: 3.72px;
}

.sup {
    margin-top: -28px;
}

.sup-2 {
    margin-left: -3px;
}

.sub-dot {
    margin-top: -35px;
    margin-left: -260px;
}

.menu-item li {
    list-style: none;
}

.menu-item li a {
    color: #282563;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 165px;
    gap: 45px;
}

.Become-a-Partner {
    position: relative;
    margin-left: -195px;
    color: #282563;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding-left: 22px;
    padding-right: 21px;
}

.design {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item li a::after {
    content: " ";
    position: absolute;
    background: #FFC108;
    height: 3px;
    width: 90px;
    left: 870px;
    top: 105px;
}

/*----------------------
------------------- navbar end */


/*----------------------
------------------- banner start */

.banner {
    display: flex;
    align-items: center;
    gap: 51px;
}

.banner-details {
    padding-left: 165px;
}

.banner-title {
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
    line-height: 54px;
}

.banner-description {
    width: 810px;
    height: 117px;
    padding-top: 25px;
    color: #FFF;
    font-size: 26px;
    font-weight: 600;
}

.banner-description1 {
    padding-top: 25px;
    width: 809px;
    height: 78px;
    color: #FFF;
    font-size: 26px;
    font-weight: 600;
}

.partner-title {
    padding-top: 28px;
    color: #FFF;
    font-size: 28px;
    font-weight: 600;
}

.join-details {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 210px 200px auto;
    grid-row-gap: 25px;
    grid-column-gap: 76px;
}

.join-item {
    display: flex;
    align-items: center;
    gap: 13px;
}

.ratio-item p {
    width: 231px;
    font-size: 24px;
    font-weight: 500;
    color: #FFF;
}

.join-us-Today {
    position: relative;
    margin-left: -195px;
    color: #282563;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding-right: 21px;
}

.join-us {
    padding-top: 34px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn1 {
    width: 240px;
    border: none;
    height: 57.821px;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    background-color: #FFC108;
    margin-top: 10px;
}

.icon-connection-list img {
    padding-left: 15px;
}

.icon-connection-list {
    padding-top: 65px;
    align-items: end;
    padding-right: 165px;
    padding-left: 370px;
    gap: 15px;
}

.refer-item {
    padding-left: 115px;
    padding-bottom: 18px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.refer,
.relax,
.Reward {
    padding-top: 27px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.refer-title,
.relax-title,
.reward-title {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}

.banner-video {
    display: flex;
    align-items: center;
}

.video-btn {
    position: absolute;
    padding-left: 305px;
}

.us-patent {
    padding-top: 55.48px;
    padding-left: 200px;
}

.banner-platform {
    background-image: url(../Rectangle-img/Rectangle\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1920px;
    height: 115px;
}

.banner-platform {
    display: flex;
    align-items: center;
    gap: 74px;

}

.platform-description {
    width: 1350px;
    padding-left: 165px;
    padding-top: 53px;
    color: #282563;
    font-size: 26px;
    font-weight: 500;
}

.platform-img {
    padding-top: 54px;

}

.platform-img img {
    padding-left: 30px;
}

/* -----------------------------
-------------------header and banner section done */



main {
    background: #F3F3F6;
    width: 1920px;
    padding-top: 94px;
}

/* -------------------------------
--------------------------main section start---------------- */


.container2 {
    width: 1590px;
    margin-left: 165px;
    background-image: url(../Rectangle-img/Rectangle\ 77.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.boss {
    display: flex;
    align-items: center;
    gap: 50.73px;
}

.boss-img img {
    padding-left: 59px;
    padding-top: 51px;
    padding-bottom: 36px;
}

.boss-description {
    width: 1303px;
    color: #FFF;
    font-size: 40px;
    font-weight: 600;
    padding-top: 54px;
    padding-right: 50px;

}

.square1 {
    padding-left: 1522px;
    margin-bottom: -5px;
}

/*----------------------------------------
 ----------------------------section container-03 start */
.container3 {

    margin-left: 165px;
}

.Calculate-Potential {
    display: flex;
    gap: 43px;
}

.Calculate-Potential-Earnings-title {
    padding-top: 101px;
    padding-bottom: 60px;
    color: #282563;
    text-align: center;
    font-size: 60px;
    font-weight: 600;

}

.calculate {
    width: 502px;
    height: 585px;
    border-radius: 8px;
    border: 1px solid #FFF;
    background: #FFF;
    box-shadow: 0px 8px 24px 2px rgba(47, 43, 35, 0.08);
}

.calculate-description {
    width: 418px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    padding-bottom: 48px;
    color: #282563;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.input-list {
    padding-left: 40px;
    color: var(--nutral-600, #7A766C);
    font-size: 16px;
    font-weight: 500;
}

.input-type-item {
    margin-left: 40px;
    width: 422px;
    height: 44px;
    padding: 8px 16px;
    align-items: center;
    gap: 12px;
    margin-bottom: 40px;
    margin-top: 12px;
}

.btn2 {
    margin-left: 132px;
    margin-top: 76px;
    width: 241px;
    height: 61px;
    border-radius: 7px;
    background: #282563;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.calculate-money-country {
    width: 1046px;
    height: 585px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 8px 24px 2px rgba(47, 43, 35, 0.08);
}

.background-yellow {
    width: 1046px;
    height: 289px;
    border-radius: 8px 8px 0px 0px;
    background: #FFC108;
}

.usd-money {
    padding-top: 25px;
    color: #282563;
    text-align: center;
    font-size: 60px;
    font-weight: 800;
}

.usd-calculate {
    padding-top: 5px;
    padding-left: 71px;
    color: #282563;
    font-size: 18px;
    font-weight: 500;
}

.calculation-dollar {
    display: flex;
    align-items: center;
    padding-left: 71px;
    padding-right: 70px;
    padding-top: 15px;
}

.input-dollar {
    height: 44px;
    padding: 8px 16px;
    align-items: center;
    gap: 12px;
    border-radius: 4px;
    border: 1px solid #282563;
    color: #282563;
    font-size: 18px;
    font-weight: 500;
}

.arrow-down img {
    padding-top: 15px;
}

.arrow {

    padding-left: 20px;
    padding-right: 20px;
}

.flag {
    position: absolute;
    padding-left: 345px;
}

.input-dollars {
    width: 282px;
    height: 44px;
    text-align: center;
    padding: 8px 16px;
    align-items: center;
    gap: 12px;
    color: #282563;
    font-size: 16px;
    font-weight: 400;
}

.polygon {
    position: absolute;
    padding-left: 595px;
}

.equal {
    padding-left: 20px;
    padding-right: 20px;
}

.usd-calculate-money {
    color: #282563;
    font-size: 30px;
    font-weight: 700;
}

.inr-money {
    padding-left: 8px;
    color: #282563;
    font-size: 16px;
    font-weight: 500;
}

.time-calculate {
    padding-top: 21px;
    color: #282563;
    text-align: center;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
}

.client-contact {
    display: flex;
    align-items: center;
    gap: 42px;
}

.client {
    padding-left: 40px;
    width: 610px;
}

.client-title {

    padding-top: 23px;
    padding-bottom: 5px;
    color: #282563;
    font-size: 18px;
    font-weight: 600;
}

.item-list li {

    margin-left: 40px;
    color: #282563;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.contact {
    margin-top: 23px;
    width: 314px;
    height: 250px;
    border-radius: 8px;
    border: 1px solid #EBE8E4;
    background: #FFF;
    box-shadow: 0px 8px 24px 2px rgba(47, 43, 35, 0.08);
}

.content-title {
    padding-top: 20px;
    color: #282563;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.join-us1 {
    padding-left: 55px;
    padding-top: 10px;
}

.join-us-Today1 {
    margin-top: -48px;
    position: relative;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding-right: 21px;
}

/*----------------------------------
-------------------------- container section-3 complete */


/*----------------------------------
-------------------------- container section-4 start */


.container4 {
    padding-top: 30px;
    margin-left: 165px;
    width: 1590px;
    height: 214px;
    margin-top: 110px;
    background: #FFF;
}

.partnership-class {
    display: flex;
    align-items: center;
    gap: 51px;
}

.partnership-img img {

    padding-left: 40px;
}

.partnership-info {
    display: flex;
    align-items: center;
    gap: 74px;
}

.partnership-description {
    width: 945px;
    color: #282563;
    font-size: 26px;
    font-weight: 600;
}

.btn3 {
    width: 243.682px;
    height: 77.444px;
    border-radius: 3px;
    background: #FFC108;
    color: #282563;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    border: none;
}
.square2{
    margin-top: -45px;
}

/*----------------------------------
-------------------------- container section-4 complete */


/*----------------------------------
-------------------------- container section-4 start */
.container5 {
    margin-top: 110px;
    width: 1920px;
    height: 680px;
    background: #FFF;
}

.Client-Candidate-Referrals-info {
    padding-top: 40px;
    padding-left: 165px;
    padding-right: 165px;
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}

.Short-Video {
    width: 374.03px;
    height: 324.275px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 8px 24px 2px rgba(47, 43, 35, 0.08);
}

.Short-Video-title {
    width: 374.03px;
    height: 102.821px;
    border-radius: 8px 8px 0px 0px;
    background: #434AC9;
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.works-title {
    padding-top: 60px;
    color: #FFC108;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
}

.Candidate-title {
    padding-top: 10px;
    color: #282563;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}

.Short-Video-title {
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    padding-top: 32px;
}

.Short-Video-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Short-Video-img1 {
    width: 374.03px;
    height: 221.11px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.Short-Video-img2 {
    position: absolute;
}

.Refer-item1 {
    width: 374.03px;
    height: 324.11px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 8px 24px 2px rgba(47, 43, 35, 0.08);

}

.refer-details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 374.03px;
    height: 80px;
    border-radius: 8px 8px 0px 0px;
    background: #282563;
}

.refer-title1 {
    color: #FFF;
    font-size: 40px;
    font-weight: 500;
}

.refer-description {
    padding-top: 16px;
    padding-left: 33px;
    padding-right: 33px;
    color: #333;
    font-size: 17px;
    font-weight: 400;
    line-height: normal;
    line-height: 24px;
}

.refer-details1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 374.03px;
    height: 80px;
    border-radius: 8px 8px 0px 0px;
    background: #FFC108;
}

.refer-details2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 374.03px;
    height: 80px;
    border-radius: 8px 8px 0px 0px;
    background: #1D9E49;
}